/* @media screen and (min-width: 960px) {
    html {
      margin-left: calc(100vw - 100%);
      margin-right: 0;
    }
}

html {
    overflow: auto;
} */

body {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    background-color: rgb(59, 59, 59);
    justify-content: flex-start;
    /* overflow: hidden; */
    
}

.header {
    width: 100%;
    height: 100px;
    background-color: brown;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
     
}

.authorization {
    width: 150px;
    min-width: 100px;
    height: 50px;
    margin-left: 25px;
    background-color: rgb(199, 201, 201);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brendName {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: antiquewhite;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 200%;
    /* font-style: italic; */
}

.addCar {
    width: 150px;
    min-width: 100px;
    height: 50px;
    margin-right: 25px;
    background-color: rgb(199, 201, 201);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    width: 100%;
    flex: 1;
    /* height: 650px; */
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-image: url(content/bmw_e86_4_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.carChoose {
    width: 30%;
    height: 94%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    opacity: 0.6;
}

.carChoose:hover {
    opacity: 1;
    color: brown;
    transition: 0.5s;
}

#car1 {
    
}

#car2 {
    margin-left: 20px;
    margin-right: 20px;
}

#car3 {
    
}

.carCard {
    width: 100%;
    height: 70%;
    background: antiquewhite;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
}

.carPreview {
    width: 100%;
    height: 60%; 
    object-fit: cover;
    border-radius: 6px 6px 0px 0px;
}

.carName {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-bottom: 1px solid rgb(199, 201, 201);
    
}

.pad {
    padding-left: 10px;
}

.carConsumptions {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(199, 201, 201);
}

.fuelConsumptions {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-right: 1px solid rgb(199, 201, 201);
}

.etcConsumptions {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.takeCar {
    position: relative;
    width: 90%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(199, 201, 201);
    border-radius: 6px;
    margin: 15px 5%;

}

.addButtons {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;

}

.btnAdd {
    width: 42.5%;
    height: 100%;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

.btnChange {
    width: 90%;
    height: 40px;
    margin-top: 30px;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

.aside {
    position: absolute;
    width: 76px;
    height: 178px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    background-color: rgb(199, 201, 201);
    background-size: cover;
    z-index: 2;
    cursor: pointer;
}

.aside:active {
    margin-top: 8px;
    
}

#asideLeft {
    left: 0;
    background: transparent url(content/arrow-prev.png) no-repeat;
    
}

#asideLeft:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
}

#asideRight {
    right: 0;
    background: transparent url(content/arrow-next.png) no-repeat;
    
}

#asideRight:hover {
    box-shadow: -5px 5px 5px rgba(0, 0, 0, .5);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: rgb(59, 59, 59);
    color: antiquewhite;
    bottom: 0px;
    left: 0;
}